
<div id="profileFriendsContainer">
    <h5 class="padding-top betSubtitle">Dates:</h5>
    <div class="row">
    	<p class="col col-50 textCenter light datepickerButton">
    	<span class="col col-100">Start Date:</span>
    	{{archivedBetInstance.viewBet.start_date}}</p>

    	<p class="col col-50 textCenter light datepickerButton">
    	<span class="col col-100">End Date:</span>
    	{{archivedBetInstance.viewBet.end_date}}</p>
    </div>
    <h5 class="padding-top betSubtitle">Terms:</h5>
    <p class="light padding">{{archivedBetInstance.viewBet.bet_terms}}</p>
</div>