
<div id="profileFriendsContainer">
    <div>
    <h5 class="padding-top betSubtitle">Competitors:</h5>
        <ul id="memberList">
            <li class="light" data-ng-repeat="member in betPageInstance.betMembers" data-ng-if="member.role_id==2 || member.role_id==1">
                <a data-ui-sref="tabs.user({userID: member.user_id})" class="row">
                    <figure class="col col-20">
                        <!-- <img data-ng-src="../img/{{member.profile_image}}"> -->
                         <img data-ng-src="{{betPageInstance.rootImagePath}}/{{member.profile_image}}">

                    </figure>
                    <div class="col col-66 light memberListItem">
                        {{member.fname}} {{member.lname}} <span class="inlineUsername">@{{member.username}}</span>
                    </div>
                </a>
            </li>
        </ul>
        <h5 class="padding-top betSubtitle" data-ng-if="betPageInstance.moderator==true">Moderator: </h5>
        <ul id="moderatorList">
            <li class="dark" data-ng-repeat="member in betPageInstance.betMembers" data-ng-if="member.role_id==3">
                <a data-ui-sref="tabs.user({userID: member.user_id})" class="row">
                    <figure class="col col-20">
                        <!-- <img data-ng-src="../img/{{member.profile_image}}"> -->
                         <img data-ng-src="{{betPageInstance.rootImagePath}}/{{member.profile_image}}">

                    </figure>
                    <div class="col col-66 light memberListItem">
                        {{member.fname}} {{member.lname}} <span class="inlineUsername">@{{member.username}}</span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>