
<div id="profileFriendsContainer">
    <h5 class="padding-top betSubtitle">Wager Amount: {{resolveBetInstance.viewBet.wager_amount}} Points</h5>
    <!-- <p class="light padding">{{resolveBetInstance.viewBet.bet_terms}}</p> -->

    <h5 class="padding-top betSubtitle">Dates:</h5>
    <div class="row">
    	<p class="col col-50 textCenter light datepickerButton">
    	<span class="col col-100">Start Date:</span>
    	{{resolveBetInstance.viewBet.start_date}}</p>

    	<p class="col col-50 textCenter light datepickerButton">
    	<span class="col col-100">End Date:</span>
    	{{resolveBetInstance.viewBet.end_date}}</p>
    </div>
    <h5 class="padding-top betSubtitle">Terms:</h5>
    <p class="light padding">{{resolveBetInstance.viewBet.bet_terms}}</p>
</div>