<ion-view view-title='<img src="img/ubet-logo-ko.png" class="logo">'>
<ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>

        <ion-content padding="true" class="has-tabs">
        	<h2 class="dark">HOLLLAAAAAA</h2>
        	{{betPageInstance.bets}}
<!--         		<div class="list list-inset">
        			<label class="item item-input">
        				<i class="icon ion-search placeholder-icon"></i>
        				<input type="text" placeholder="Search Bets" data-ng-model="betInstance.searchUsers">
        			</label>
        		</div>
        		<div>
					<ul id="betList">
						<li class="dark" data-ng-repeat="bet in betInstance.bets">
							<a data-ui-sref="tabs.bet({betID: bet.bet_id})" class="row"> -->
								<!-- <figure class="col col-20"> -->
									<!-- <img data-ng-src="../img/{{bet.bet_image}}"> -->
								<!-- </figure> -->
<!-- 								<div class="col col-66 dark memberListItem">
									{{bet.bet_name}}
								</div>
							</a>
					</ul>
				</div> -->


        </ion-content>
      </ion-view>