<ion-view view-title='<img src="img/ubet-logo-ko.png" class="logo">' id="profilePartial">

    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-tabs">
        <!-- <search-bar ng-model="search"></search-bar> -->
        
        <div class="col col-20 col-offset-80">
            <p  data-ui-sref="tabs.friends" class="button button-icon icon calm ion-person-add padding-right"></p>
        </div>
        <div class="row light"><h2>Find Friends</h2></div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Find Users" data-ng-model="findFriendsInstance.searchUsers">
            </label>
        </div>
        <div>
            <ul id="memberList">
                <li class="light" data-ng-repeat="person in findFriendsInstance.members | orderBy: findFriendsInstance.sortType | filter: findFriendsInstance.searchUsers">
                    <a data-ui-sref="tabs.user({userID: person.user_id})" class="row">
                        <figure class="col col-20">
                            <img data-ng-src="../img/{{person.profile_image}}">
                        </figure>
                        <div class="col col-66 light memberListItem">
                            {{person.fname}} {{person.lname}}<span class="inlineUsername">@{{person.username}}</span>
                        </div>
                        <div class="col friendManagement">
                            <div data-ng-if="!person.isFriend && person.user_id!=findFriendsInstance.currentUserID"></div>
                            <div data-ng-if="person.isFriend" class="icon ion-checkmark-circled text-right"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div ui-view></div>

    </ion-content>

</ion-view>