<ion-view view-title='<img src="img/ubet-logo-ko.png" class="logo">' id="profilePartial">

    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true" class="has-tabs">

        <div class="row">
            <div class="col col-33" class="padding-right">
                <figure id="profileImage" >
                    <img data-ng-src="../img/{{profileInstance.currentUser.profile_img}}">
                </figure>
        	</div>

        	<div class="col col-50">
                <h2 class="profileName padding-top">{{profileInstance.currentUser.fname}}</h2>
        		<p class="calm username">@{{profileInstance.currentUser.username}}</p>
                <div class="row" id="currencyDisplay">
                
                    <figure class="col col-20" id="profileCurrencyIcon">
                        <img src="../img/currency.png">
                    </figure>
                            <p class="balanced col currencyCount">{{profileInstance.currentUser.currency}}</p>
                </div>
        		<!-- <button class="button button-balanced button-small">Bet {{profileInstance.currentUser.fname}}</button> -->
            <!-- <button class="friendStatus">Add or remove</button> -->
        	</div>

            <div class="col">
                <p  data-ui-sref="tabs.edit-profile" class="button button-icon icon ion-gear-a padding-right"></p>
        	</div>
        </div>
        <div class="row" id="profileNavigation">

            <a data-ng-click="activeButton ='a'" data-ng-class="{'activeButton' : activeButton =='a'}" data-ui-sref="tabs.profile.activity" class="col profileButton icon ion-arrow-graph-up-right">
	        <!-- Activity -->
            </a>

	        <a data-ng-click="activeButton = 'b'" data-ng-class="{'activeButton' : activeButton =='b'}" data-ui-sref="tabs.profile.bets" class="col profileButton icon ion-ios-stopwatch">
	        <!-- Current Bets -->
	        </a>

	        <a data-ng-click="activeButton = 'c'" data-ng-class="{'activeButton' : activeButton =='c'}" data-ui-sref="tabs.profile.wins" class="col profileButton icon ion-trophy">
	        <!-- Wins -->
	        </a>

	        <a data-ng-click="activeButton = 'd'" data-ng-class="{'activeButton' : activeButton =='d'}" data-ui-sref="tabs.profile.losses" class="col profileButton icon ion-sad">
	        <!-- Losses -->
	        </a>

	        <a data-ng-click="activeButton = 'e'" data-ng-class="{'activeButton' : activeButton =='e'}" data-ui-sref="tabs.profile.friends" class="col profileButton icon ion-person-stalker">
	        <!-- Friends -->
	        </a>

	        <a data-ng-click="activeButton = 'f'" data-ng-class="{'activeButton' : activeButton =='f'}" data-ui-sref="tabs.profile.following" class="col profileButton icon ion-star">
	        <!-- Following -->
	        </a>
        </div>

        <div ui-view></div>

    </ion-content>
    
</ion-view>