<ion-view>
    <ion-tabs class="tabs-icon-top tabs-stable">

        <ion-tab title="Newsfeed" icon="ion-radio-waves" data-ui-sref="tabs.feed" class="customTabs">
            <ion-nav-view name="feed-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Profile" icon="ion-android-person" data-ui-sref="tabs.profile">
            <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Friends" icon="ion-ios-people" data-ui-sref="tabs.friends">
            <ion-nav-view name="friends-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Bets" icon="ion-star" data-ui-sref="tabs.bets">
            <ion-nav-view name="bets-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Create" icon="ion-plus-circled" data-ui-sref="tabs.create">
            <ion-nav-view name="create-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>