
<div id="createBetTermsContainer">
	<h2 class="dark">Choose Competitors</h2>
	<p class="dark">Choose who will participate!</p>
	<div class="row">
		<div class="col padding emptyMember">person</div>
		<div class="col padding emptyMember">person</div>
		<div class="col padding emptyMember">person</div>
		<div class="col padding emptyMember">person</div>
		<div class="col padding emptyMember">person</div>
		<div class="col padding emptyMember">person</div>
	</div>
	<div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Invite Member" data-ng-model="cbInstance.inviteCompetitor">
        </label>
    </div>
</div>